$ahws-dashlet-stats--white: white;
$ahws-dashlet-stats--grey: #6B7280;
$ahws-dashlet-stats--black: #111827;

$ahws-dashlet-compare-stats--delta-negative--background-color: #FECACA;
$ahws-dashlet-compare-stats--delta-negative--color: #991B1B;
$ahws-dashlet-compare-stats--delta-positive--background-color: #A7F3D0;
$ahws-dashlet-compare-stats--delta-positive--color: #065F46;

.ahws-dashlet-stats{
  background-color: $ahws-dashlet-stats--white;
  padding: 4px 0;
  >a {
    display: flex;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
}
.ahws-dashlet-stats--icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 6px;
}
.ahws-dashlet-stats--details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ahws-dashlet-stats--details--title {
  color: $ahws-dashlet-stats--grey;
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 4px;
}
.ahws-dashlet-stats--details--value {
  text-decoration: none;
  color: $ahws-dashlet-stats--black;
  font-weight: 600;
  font-size: 20px;
}
.ahws-dashlet-compare-stats--delta{
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  padding: 2px 4px;
  margin: 3px 0;
  vertical-align: bottom;
  
  &.ahws-dashlet-compare-stats--delta-positive{
    background-color: $ahws-dashlet-compare-stats--delta-positive--background-color;
    color: $ahws-dashlet-compare-stats--delta-positive--color;
  }
  &.ahws-dashlet-compare-stats--delta-negative{
    background-color: $ahws-dashlet-compare-stats--delta-negative--background-color;
    color: $ahws-dashlet-compare-stats--delta-negative--color;
  }
  >i{
    font-size: 10px;
    padding-right: 2px;
  }
}