$ahws-dashlet-stats--grey: #6B7280;
$ahws-dashlet-stats--black: #111827;

$ahws-dashlet-compare-stats--delta-negative--background-color: var(--ibo-color-red-100);
$ahws-dashlet-compare-stats--delta-negative--color: var(--ibo-color-red-900);
$ahws-dashlet-compare-stats--delta-negative--icon--color: var(--ibo-color-red-800);
$ahws-dashlet-compare-stats--delta-positive--background-color: var(--ibo-color-green-100);
$ahws-dashlet-compare-stats--delta-positive--color: var(--ibo-color-green-950);
$ahws-dashlet-compare-stats--delta-positive--icon--color: var(--ibo-color-green-900);
$ahws-dashlet-compare-stats--delta-neutral--background-color: var(--ibo-color-grey-200);
$ahws-dashlet-compare-stats--delta-neutral--color: var(--ibo-color-grey-950);
$ahws-dashlet-compare-stats--delta-neutral--icon--color: var(--ibo-color-grey-900);

.ahws-dashlet-stats{
  >a {
    display: flex;
    align-items: center;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
}
.ahws-dashlet-stats--icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 6px;
}
.ahws-dashlet-stats--details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ahws-dashlet-stats--details--title {
  color: var(--ibo-color-grey-800);
  font-size: 1.17rem;
  margin: 0 0 4px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.ahws-dashlet-stats--details--value {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--ibo-color-grey-900);
  font-size: 1.5rem;
}
.ahws-dashlet-stats--details--value--realvalue{
  font-size: 2.5rem;
  font-weight: 700;
  margin-right: 4px;
}
.ahws-dashlet-compare-stats--delta{
  display: inline-block;
  font-size: 1.17rem;
  font-weight: 600;
  border-radius: 5px;
  padding: 2px 4px;
  margin: 2px 8px;
  vertical-align: bottom;
  white-space: nowrap;
  
  &.ahws-dashlet-compare-stats--delta-positive{
    background-color: $ahws-dashlet-compare-stats--delta-positive--background-color;
    color: $ahws-dashlet-compare-stats--delta-positive--color;
    >i{
      color: $ahws-dashlet-compare-stats--delta-positive--icon--color
    }
  }
  &.ahws-dashlet-compare-stats--delta-negative{
    background-color: $ahws-dashlet-compare-stats--delta-negative--background-color;
    color: $ahws-dashlet-compare-stats--delta-negative--color;
    >i{
      color: $ahws-dashlet-compare-stats--delta-negative--icon--color
    }
  }
  &.ahws-dashlet-compare-stats--delta-neutral{
    background-color: $ahws-dashlet-compare-stats--delta-neutral--background-color;
    color: $ahws-dashlet-compare-stats--delta-neutral--color;
    >i{
      color: $ahws-dashlet-compare-stats--delta-neutral--icon--color
    }
  }
  >i{
    font-size: 13px;
    padding-right: 4px;
  }
}